<style>
    nav ul {
        display: flex;
    }

    nav ul li {
        list-style: none;
    }

    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        text-decoration: none;
        padding: 3px 5px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<nav>
    <ul>
        <li><a href="/crow/">Home</a></li>
        <li><a href="/crow/docs/config-options">Configuration options</a></li>
        <li><a href="/crow/docs/methods">Methods</a></li>
        <li><a href="/crow/docs/components">Components (custom tags)</a></li>
        <li><a href="/crow/docs/extending">Extending</a></li>
    </ul>
</nav>