.menu {
    list-style: none;
    padding: 0;
}

.menu:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.menu li {
    position: relative;
    border: 1px solid #c0c0c0;
}

@media (min-width: 768px) {
    .menu > li {
        float: left;
    }
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li.active,
.menu li:hover{
    border-bottom: 2px red solid;
}

.menu li.active > a,
.menu li a:hover {
    background: #2a2a2a;
    color: #fff;
}

.menu li ul {
    position: absolute;
    top: 24px;
    left: -1px;
    background-color: #fff;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}